#productos{
    display: flex;
    flex-direction: column;
    align-items: center;

    .lista-prod{
        li{
            img{
                display: block;  
            }
        }
    }

    .tabla-prod{
        img{
            display: block;
        }
    }

}
