body{
    margin: 0;
}
#botones{
    margin-bottom: 20px;
}
header {
    background-color: #333; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espaciado interno del encabezado */
}

header ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Alinear elementos al centro */
}

header li {
    display: inline-block; /* Mostrar elementos en línea */
    margin-right: 20px; /* Espaciado entre elementos */
}

header a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Eliminar subrayado del enlace */
    padding: 10px; /* Espaciado interno del enlace */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

header a:hover {
    background-color: #555; /* Cambiar color de fondo al pasar el mouse sobre el enlace */
    border-radius: 5px; /* Añadir bordes redondeados al pasar el mouse */
}

/* Estilo para el ícono del carrito de compras */
.fa-shopping-cart {
    color: #fff; /* Color del ícono */
    font-size: 20px; /* Tamaño del ícono */
    vertical-align: middle; /* Alinear verticalmente con el texto */
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
    width: 80%;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el contenedor de productos */

#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productos ul {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#productos li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#productos img {
    margin-right: 10px;
}

#productos li:hover {
    background-color: #f0f0f0;
}


/* Estilos para productos en tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f2f2f2;
}

thead tr{
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

img {
    max-width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilos para botones de ordenamiento */
#desc, #asc {
    background-color: #6c757d;
}

#desc:hover, #asc:hover {
    background-color: #5a6268;
}

.detalle-producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho ajustable según tu preferencia */
}

.detalle-producto h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.detalle-producto p {
    margin-bottom: 8px;
}

.detalle-producto img {
    max-width: 50%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.detalle-producto button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.detalle-producto button:hover {
    background-color: #0056b3;
}

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease; /* Transición para todos los cambios durante 0.3 segundos */
}

/* Estilo cuando el cursor está sobre el producto */
.tarjeta:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave cuando se pasa el cursor */
    transform: translateY(-5px); /* Desplazamiento hacia arriba */
}
.carrito{
    position: relative;
}
.animacion-carrito {
    display: inline-block;
    animation: animacion 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes animacion {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}


.oculto{
    display: none;
}

.favorito-activo{
    background-color: red;
}